[Unit]

Description=solar

After=syslog.target

[Service]

Type=simple

User=postgres

Group=admins

WorkingDirectory=/media/tb2/solar

ExecStart=/media/tb2/solar/solar.sh

StandardOutput=syslog

StandardError=syslog

[Install]

WantedBy=multi-user.target